.grid-table {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0px;
    padding: 10px;
    border: 1px solid black;
}

.grid-item {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

.grid-header {
    background-color: white;
    color: black;
    font-weight: bold;
}

.quotacontainer {
    display: flex;
    justify-content: center; /* จัดตรงกลางในแนวนอน */
    align-items: center;
}

h2 {
    font-size: 20px;
    color: black;
}