<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quota Registration</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/quotastyle.css' %}">
</head>

<body>
    <div class="container">
        <div class="square-top">
            ระบบขอโควต้ารายวิชา
        </div>
    </div>
    <div class="square-left">
        <div class="background-div"></div>
    </div>
</body>

</html>