{% extends "base.html" %}
{% load static %}
{% block title %}
<title>ขอโควต้า</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/quotastyle.css' %}">
{% endblock %}

{% block content %}
<div class="quotacontainer">
    <table>
        <thead>
            <tr>
                <th>รหัสวิชา</th>
                <th>ชื่อวิชา</th>
                <th>ภาคการศึกษา</th>
                <th>ปีการศึกษา</th>
                <th>จำนวนที่นั่ง</th>
                <th>สถานะ</th>
            </tr>
        </thead>
        <tbody>
            {% for subject in subject_list %}
            <tr>
                <td>{{ subject.code }}</td>
                <td>{{ subject.name }}</td>
                <td>{{ subject.semester }}</td>
                <td>{{ subject.year }}</td>
                <td>{{ subject.seats }}</td>
                {% if subject.status == "AVAILABLE" %}
                <td>
                    <form action="{% url 'quota' %}" method="POST">
                        {% csrf_token %}
                        <div class="input-group">
                            <button type="submit" class="btn btn-primary">{{ subject.status }}</button>
                        </div>
                    </form>
                </td>
                {% else %}
                <td>{{ subject.status }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
{% endblock %}